.prev-next {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.prev-next__prev,
.prev-next__next {
  background: var(--g2-kevlar);
  width: 50%;
}

.prev-next__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--spacing-m);
  background: var(--g3-castle);
}

.prev-next__link:hover {
  background: var(--g4-onyx);
}
