.sidebar {
  flex: 0 0 250px;
  border-right: 1px solid var(--g3-castle);
  display: flex;
  flex-direction: column;
}

.sidebar__header {
  text-transform: uppercase;
  font-size: var(--font-m);
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-s);
  color: var(--g12-forge);
}

.sidebar__logo,
.sidebar__contents,
.sidebar__footer {
  padding: var(--spacing-m);
}

.sidebar__logo {
  padding-bottom: 0;
}

.sidebar__contents {
  flex: 1 1 100%;
}

.sidebar__link {
  display: block;
  margin: var(--spacing-s) 0;
}

.sidebar__footer {
  border-top: 1px solid var(--g3-castle);
}
